@import "mixins.scss";
@import "variables.scss";
@import "animations.scss";

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  font-size: calc(95% + 0.5vw);
  line-height: 1.61em;
  font-family: $basefont;
  color: $fontcolor;
}

p, ul, ol, blockquote, pre {
  margin-bottom: 2.5%;

  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlinefont;
  font-weight: normal;
  color: $primary;
  margin: 0;

  a {
    color: $fontcolor;
    text-decoration: none;
  }
}

h1 {
  font-size: calc(240% + 0.5vw);
  line-height: 1.1em;
  margin-top: .2em;
}

h2 {
  font-size: calc(130% + 0.5vw);
  line-height: 1.3em;
}

h3 {
  font-size: calc(120% + 0.5vw);
  line-height: 1.3em;
}

h4 {
  font-size: calc(110% + 0.5vw);
  line-height: 1.3em;
}

h5 {
  font-size: calc(100% + 0.5vw);
  line-height: 1.3em;
}

h6 {
  font-size: calc(90% + 0.5vw);
  line-height: 1.3em;
  text-transform: uppercase;
}

.subhead {
  font-family: $metafont;
  color: $subheadings;
  font-size: 80%;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5%;
  display: block;
}

a {
  color: $linkcolor;
  @include transition(.2s all linear);
}

a:hover {
  color: $linkhover;
}

.content-width {
  max-width: 90%;
  margin: 0 auto;
}

.global-header {
  padding-top: 5%;
}

.global-nav {
  font-family: $navigationfont;
  text-transform: uppercase;
  font-size: 0.65em;
  letter-spacing: .1em;
  clear: both;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $primary;
    text-decoration: none;
  }

  .global-header & {
    //display: none;
    height: 0;
    overflow: hidden;

    &.open {
      display: block;
      height: auto;
    }
  }
}

.global-face {
  width: 120px;
  height: 120px;
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  margin-bottom: 2.5%;
}

.menu-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: $primary;
  text-transform: uppercase;
  font-family: $navigationfont;
  font-size: .65em;
  letter-spacing: .1em;
  text-decoration: none;
  float: right;
  margin-top: 1.5em;

  img, svg {
    width: 30px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.2em;

    path, rect {
      transition: .2s all;
    }
  }

  &:hover {
    path, rect {
      fill: $linkhover;
    }
  }
}

p, ul, ol {
  a:hover {
    @include animation(linkhover .5s linear 0 infinite alternate);
  }
}

.home-intro {
  clear: both;
  padding: 5% 0;
  border-bottom: 1px solid $bordercolor;
  margin-bottom: 2.5%;
}

.main-content {
  clear: both;
  padding-bottom: 2.5%;
}

.amp {
  font-family: "Hoefler Text", Baskerville, serif ;
  font-style: italic;
}

article {}

  .article-meta {
    font-family: $metafont;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 70%;
    color: $metacolor;

    li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: $metacolor;
    }
  }
