@import "mixins.scss";
@import "variables.scss";
@import "animations.scss";

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  font-size: calc(95% + 0.4vw);
  line-height: 1.61em;
  font-family: $basefont;
  color: $fontcolor;
  position: relative;
}

p, ul, ol, blockquote, pre {
  margin-bottom: 2.5%;

  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlinefont;
  font-weight: normal;
  color: $primary;
  margin: 0;

  a {
    color: $fontcolor;
    text-decoration: none;
  }
}

h1 {
  font-size: calc(240% + 0.5vw);
  line-height: 1.1em;
  margin-top: .2em;
}

h2 {
  font-size: calc(130% + 0.5vw);
  line-height: 1.3em;
}

h3 {
  font-size: calc(110% + 0.5vw);
  line-height: 1.3em;
}

h4 {
  font-size: calc(100% + 0.5vw);
  line-height: 1.3em;
  color: $fontcolor;
}

h5 {
  font-size: calc(85% + 0.5vw);
  line-height: 1.3em;
  color: $fontcolor;
}

h6 {
  font-size: calc(60% + 0.5vw);
  line-height: 1.3em;
  text-transform: uppercase;
  color: $fontcolor;
}

.subhead {
  font-family: $metafont;
  color: $subheadings;
  font-size: 80%;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5%;
  display: block;
}

a {
  color: $linkcolor;
  @include transition(.2s all linear);
}

a:hover {
  color: $linkhover;
}

.content-width {
  max-width: 90%;
  margin: 0 auto;
}

.global-header {
  padding-top: 5%;
}

.global-header,
.main-content,
.global-footer {
  padding-left: 5%;
  padding-right: 5%;
}

.global-nav {
  font-family: $navigationfont;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: .1em;
  clear: both;
  display: none;
  height: 0;
  @include transition(.2s all);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: $linkhover;
    }
  }

  &.open {
    display: block;
    height: auto;
    @include animation(menuOpen .2s linear 0s 1);
  }
}

.global-face {
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  margin-bottom: 2.5%;
}

.menu-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: $primary;
  text-transform: uppercase;
  font-family: $navigationfont;
  font-size: .65em;
  letter-spacing: .1em;
  text-decoration: none;
  float: right;
  margin-top: 15px;

  img, svg {
    width: 30px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.2em;

    path, rect {
      transition: .2s all;
    }
  }

  &:hover {
    path, rect {
      fill: $linkhover;
    }
  }
}

p, ul, ol {
  a:hover {
    //@include animation(linkhover .5s linear 0 infinite alternate);
  }
}

.home-intro,
article header {
  clear: both;
  padding: 5% 0;
  border-bottom: 1px solid $bordercolor;
}

article aside header {
  border-bottom: 0;
}

.main-content {
  clear: both;
  padding-bottom: 2.5%;
}

.amp {
  font-family: "Hoefler Text", Baskerville, serif ;
  font-style: italic;
}

.article-list,
.article-content {
  padding-top: 2.5%;
  padding-bottom: 5%;
  float: left;
  width: 100%;
}

article {
  margin-bottom: 10%;

  &:last-child {
    margin-bottom: 0;
  }

  &.article-aside {
    font-size: .9em;
    line-height: 1.7em;

    h1,h2,h3,h4,h5,h6 {
      margin-bottom: 0;
    }

    p {
      font-family: $asidebase;
      margin-top: 0;
    }
  }
}

  .article-meta {
    font-family: $metafont;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 70%;
    color: $metacolor;

    li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: $metacolor;
    }
  }

.button {
  display: inline-block;
  font-family: $buttonfont;
  letter-spacing: .3em;
  font-weight: bold;
  background: $buttonbg;
  text-decoration: none;
  color: $buttoncolor;
  font-size: .8em;
  line-height: 1.1em;
  text-transform: uppercase;
  padding: 1em 0;
  position: relative;
  text-indent: .3em;


  &:after {
    display: block;
    border-bottom: 5px solid $buttoncolor;
    content: "";
    bottom: -5px;
    left: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    @include transition(.2s all);
    @include box-sizing(content-box);
  }

  &:hover {
    color: $buttonhovercolor;
    padding: 1em;

    &:after {
      height: 100%;
      left: -5px;
      border: 5px solid $buttonhovercolor;
    }
  }
}

aside {
  clear: both;
  border-top: 1px solid $bordercolor;
  padding-top: 5%;
  //font-size: .9em;
  //line-height: 1.7em;

  footer {
    clear: both;
  }
}

.article-detail {
  clear: right;
  padding-top: 45px;
}
