@import "mixins.scss";
@import "variables.scss";
@import "animations.scss";

.global-footer {
  padding: 2.5% 5%;
  clear: both;
  margin-top: 2.5%;
  background: #f1f1f1;
  border-top: 1px solid $bordercolor;

  .global-nav {
    border: 0;
    padding-bottom: 1em;
  }

  small {
    font-size: .7em;
  }
}
