@import "mixins.scss";
@import "variables.scss";
@import "animations.scss";

@media all and (min-width: 600px) {
  .article-aside,
  .snippet-preview {
    width: 48%;
    margin-right: 4%;
    float: left;

    &:nth-child(2n+1) {
      margin-right: 0px;
    }
  }
}

@media all and (min-width:768px) {
  .global-face {
    width: 120px;
    height: 120px;
  }
  .menu-btn {
    display: none;
  }

  .global-nav {
    display: block;
    height: auto;
    clear: none;
    float: right;
    padding-top: 45px;

    &__list {
      float: left;

      li {
        display: block;
        float: left;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .article-list {
    article:not(:nth-child(2)) {
      width: 45%;
      float: left;
    }

    article:nth-child(2n+3) {
      margin-right: 10%;
    }
  }

  .article-aside,
  .snippet-preview {
    width: 30%;
    margin-right: 5%;
    float: left;

    &:nth-child(2n+1) {
      margin-right: 5%;
    }

    &:nth-child(3n+4) {
      margin-right: 0px;
    }
  }
}

@media all and (min-width: 1000px) {
  .global-header {
    padding-top: 5%;
  }

  .global-nav {
    padding: 0 0 45px 0;
    border-bottom: 1px solid $bordercolor;
    font-size: .7em;
    line-height: 1em;
    width: 100%;

    &__list {
      li {
        margin-right: 2em;
      }
    }
  }

  .global-header,
  .main-content,
  .global-footer {
    padding-left: 225px;
    padding-right: 0;
  }

  .global-face {
    margin-left: -175px;
  }

  .home-intro,
  article header {
    clear: right;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10%;

    h1, p {
      max-width: 45em;
    }
  }

  article header {
    padding-top: 0;
  }

  .article-list,
  .article-content,
  aside {
    padding-right: 5%;
  }

  .article-content {
    blockquote {
      width: 130%;
    }
  }
}


@media all and (min-width:1280px) {
  body {
    font-size: 1.25em;
    line-height: 1.7em;
  }

  code {
    font-size: 1em;
  }

  .article-list,
  .article-content {
    float: left;
    width: 70.9%;
    border-right: 1px solid $bordercolor;
    padding-right: 5%;
  }

  .article-content {
    border: 0;
  }

  aside {
    float: right;
    width: 29.1%;
    clear: none;
    border-top: 0;
    padding: 2.5% 5%;
    font-size: .75em;
    line-height: 1.7em;

    .subhead {
      font-size: 1em;
    }

    .article-meta {
      font-size: 1em;
    }

    .article-aside {
      width: 100%;
      margin-right: 0;
    }
  }
}
