@keyframes linkhover {
  0% {
    color: #197e7d; }
  100% {
    color: #25bdd4; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-size: 1rem; }

body {
  font-size: 1.25em;
  line-height: 1.61em;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: normal; }

a {
  color: #197e7d;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear; }

a:hover {
  color: #25bdd4; }

.global-nav {
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.65em;
  letter-spacing: .1em; }
  .global-nav__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .global-nav a {
    color: #848476;
    text-decoration: none; }

.global-face {
  max-width: 20%;
  display: block; }
  .global-face__image {
    display: block; }

p a:hover, ul a:hover, ol a:hover {
  -webkit-animation: linkhover 0.5s linear 0 infinite alternate;
  -moz-animation: linkhover 0.5s linear 0 infinite alternate;
  -ms-animation: linkhover 0.5s linear 0 infinite alternate;
  -o-animation: linkhover 0.5s linear 0 infinite alternate;
  animation: linkhover 0.5s linear 0 infinite alternate; }
