@keyframes linkhover {
  0% {
    color: #197e7d; }
  100% {
    color: #25bdd4; } }

/*@keyframes doppler {
  0% { box-shadow: 0 0 5px 0 rgba(255,255,255,1), 0 0 10px 0 rgba(0,0,0,.5); }
  100% { box-shadow: 0 0 5px 100px rgba(255,255,255,1), 0 0 30px 100px rgba(0,0,0,0); }
}*/
@keyframes menuOpen {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-size: 1rem; }

body {
  font-size: calc(95% + 0.4vw);
  line-height: 1.61em;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: #111;
  position: relative; }

p, ul, ol, blockquote, pre {
  margin-bottom: 2.5%; }
  p:last-child, ul:last-child, ol:last-child, blockquote:last-child, pre:last-child {
    margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: normal;
  color: #848476;
  margin: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #111;
    text-decoration: none; }

h1 {
  font-size: calc(240% + 0.5vw);
  line-height: 1.1em;
  margin-top: .2em; }

h2 {
  font-size: calc(130% + 0.5vw);
  line-height: 1.3em; }

h3 {
  font-size: calc(110% + 0.5vw);
  line-height: 1.3em; }

h4 {
  font-size: calc(100% + 0.5vw);
  line-height: 1.3em;
  color: #111; }

h5 {
  font-size: calc(85% + 0.5vw);
  line-height: 1.3em;
  color: #111; }

h6 {
  font-size: calc(60% + 0.5vw);
  line-height: 1.3em;
  text-transform: uppercase;
  color: #111; }

.subhead {
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c6c6c6;
  font-size: 80%;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5%;
  display: block; }

a {
  color: #197e7d;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear; }

a:hover {
  color: #25bdd4; }

.content-width {
  max-width: 90%;
  margin: 0 auto; }

.global-header {
  padding-top: 5%; }

.global-header,
.main-content,
.global-footer {
  padding-left: 5%;
  padding-right: 5%; }

.global-nav {
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: .1em;
  clear: both;
  display: none;
  height: 0;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all; }
  .global-nav__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .global-nav a {
    color: #848476;
    text-decoration: none; }
    .global-nav a:hover {
      color: #25bdd4; }
  .global-nav.open {
    display: block;
    height: auto;
    -webkit-animation: menuOpen 0.2s linear 0s 1;
    -moz-animation: menuOpen 0.2s linear 0s 1;
    -ms-animation: menuOpen 0.2s linear 0s 1;
    -o-animation: menuOpen 0.2s linear 0s 1;
    animation: menuOpen 0.2s linear 0s 1; }

.global-face {
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  margin-bottom: 2.5%; }

.menu-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: #848476;
  text-transform: uppercase;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .65em;
  letter-spacing: .1em;
  text-decoration: none;
  float: right;
  margin-top: 15px; }
  .menu-btn img, .menu-btn svg {
    width: 30px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.2em; }
    .menu-btn img path, .menu-btn img rect, .menu-btn svg path, .menu-btn svg rect {
      transition: .2s all; }
  .menu-btn:hover path, .menu-btn:hover rect {
    fill: #25bdd4; }

.home-intro,
article header {
  clear: both;
  padding: 5% 0;
  border-bottom: 1px solid #ccc; }

article aside header {
  border-bottom: 0; }

.main-content {
  clear: both;
  padding-bottom: 2.5%; }

.amp {
  font-family: "Hoefler Text", Baskerville, serif;
  font-style: italic; }

.article-list,
.article-content {
  padding-top: 2.5%;
  padding-bottom: 5%;
  float: left;
  width: 100%; }

article {
  margin-bottom: 10%; }
  article:last-child {
    margin-bottom: 0; }
  article.article-aside {
    font-size: .9em;
    line-height: 1.7em; }
    article.article-aside h1, article.article-aside h2, article.article-aside h3, article.article-aside h4, article.article-aside h5, article.article-aside h6 {
      margin-bottom: 0; }
    article.article-aside p {
      font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 0; }

.article-meta {
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 70%;
  color: #6f6f6f; }
  .article-meta li {
    display: inline-block; }
  .article-meta a {
    text-decoration: none;
    color: #6f6f6f; }

.button {
  display: inline-block;
  font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .3em;
  font-weight: bold;
  background: #fff;
  text-decoration: none;
  color: #000;
  font-size: .8em;
  line-height: 1.1em;
  text-transform: uppercase;
  padding: 1em 0;
  position: relative;
  text-indent: .3em; }
  .button:after {
    display: block;
    border-bottom: 5px solid #000;
    content: "";
    bottom: -5px;
    left: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box; }
  .button:hover {
    color: #197e7d;
    padding: 1em; }
    .button:hover:after {
      height: 100%;
      left: -5px;
      border: 5px solid #197e7d; }

aside {
  clear: both;
  border-top: 1px solid #ccc;
  padding-top: 5%; }
  aside footer {
    clear: both; }

.article-detail {
  clear: right;
  padding-top: 45px; }

pre {
  background: #f1f1f1;
  padding: .5em 1em; }

code {
  background: #f1f1f1;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3em;
  padding: .3em .5em;
  position: relative;
  color: #555;
  font-size: .8em; }

blockquote {
  color: #848476;
  font-style: italic;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0; }
  blockquote p,
  blockquote p:last-child {
    margin: 1em 0; }

table {
  border: 1px solid #ccc;
  padding: 0;
  font-size: .9em; }

th {
  background: #ccc; }

td, th {
  border: 0;
  padding: .3em .7em; }
