@keyframes linkhover {
  0% {
    color: #197e7d; }
  100% {
    color: #25bdd4; } }

@keyframes doppler {
  0% {
    box-shadow: 0 0 5px 0 white, 0 0 10px 0 rgba(0, 0, 0, 0.5); }
  100% {
    box-shadow: 0 0 5px 100px white, 0 0 30px 100px transparent; } }

/*
@keyframes menuOpen {
  0%   { display: none; height: 0; }
  100%  { display: block; height: auto; }
}*/
@media all and (min-width: 768px) {
  .global-face {
    width: 120px;
    height: 120px; }
  .menu-btn {
    margin-top: 45px; } }
