@keyframes linkhover {
  0% {
    color: #197e7d; }
  100% {
    color: #25bdd4; } }

/*@keyframes doppler {
  0% { box-shadow: 0 0 5px 0 rgba(255,255,255,1), 0 0 10px 0 rgba(0,0,0,.5); }
  100% { box-shadow: 0 0 5px 100px rgba(255,255,255,1), 0 0 30px 100px rgba(0,0,0,0); }
}*/
@keyframes menuOpen {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media all and (min-width: 600px) {
  .article-aside,
  .snippet-preview {
    width: 48%;
    margin-right: 4%;
    float: left; }
    .article-aside:nth-child(2n+1),
    .snippet-preview:nth-child(2n+1) {
      margin-right: 0px; } }

@media all and (min-width: 768px) {
  .global-face {
    width: 120px;
    height: 120px; }
  .menu-btn {
    display: none; }
  .global-nav {
    display: block;
    height: auto;
    clear: none;
    float: right;
    padding-top: 45px; }
    .global-nav__list {
      float: left; }
      .global-nav__list li {
        display: block;
        float: left;
        margin-right: 1em; }
        .global-nav__list li:last-child {
          margin-right: 0; }
  .article-list article:not(:nth-child(2)) {
    width: 45%;
    float: left; }
  .article-list article:nth-child(2n+3) {
    margin-right: 10%; }
  .article-aside,
  .snippet-preview {
    width: 30%;
    margin-right: 5%;
    float: left; }
    .article-aside:nth-child(2n+1),
    .snippet-preview:nth-child(2n+1) {
      margin-right: 5%; }
    .article-aside:nth-child(3n+4),
    .snippet-preview:nth-child(3n+4) {
      margin-right: 0px; } }

@media all and (min-width: 1000px) {
  .global-header {
    padding-top: 5%; }
  .global-nav {
    padding: 0 0 45px 0;
    border-bottom: 1px solid #ccc;
    font-size: .7em;
    line-height: 1em;
    width: 100%; }
    .global-nav__list li {
      margin-right: 2em; }
  .global-header,
  .main-content,
  .global-footer {
    padding-left: 225px;
    padding-right: 0; }
  .global-face {
    margin-left: -175px; }
  .home-intro,
  article header {
    clear: right;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10%; }
    .home-intro h1, .home-intro p,
    article header h1,
    article header p {
      max-width: 45em; }
  article header {
    padding-top: 0; }
  .article-list,
  .article-content,
  aside {
    padding-right: 5%; } }

@media all and (min-width: 1280px) {
  body {
    font-size: 1.25em;
    line-height: 1.7em; }
  .article-list,
  .article-content {
    float: left;
    width: 70.9%;
    border-right: 1px solid #ccc;
    padding-right: 5%; }
  aside {
    float: right;
    width: 29.1%;
    clear: none;
    border-top: 0;
    padding: 2.5% 5%;
    font-size: .75em;
    line-height: 1.7em; }
    aside .subhead {
      font-size: 1em; }
    aside .article-meta {
      font-size: 1em; }
    aside .article-aside {
      width: 100%;
      margin-right: 0; } }
