* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
  background: white url(img/background-plant@2x.png) no-repeat top right;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #22211E;
  line-height: 160%; }
  @media all and (min-width: 1024px) {
    body {
      background-size: 50% auto; } }

a {
  color: #8B7516;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Baskerville", "Times", serif;
  font-style: italic;
  font-weight: 300;
  line-height: 1em;
  margin: 16px 0 8px;
  padding: 0; }
  h1.meta, h2.meta, h3.meta, h4.meta, h5.meta, h6.meta {
    font-size: .75em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #C1BFB7;
    font-style: normal;
    margin: 8px 0; }

p {
  margin: 0;
  margin-bottom: 16px; }

h1.jumbo {
  font-size: 4em;
  margin-bottom: 0;
  line-height: 1em; }

h1 {
  font-size: 3em;
  line-height: 1em; }

h2 {
  font-size: 2.5em;
  line-height: 1em; }

h3 {
  font-size: 2em;
  line-height: 1em; }

h4 {
  font-size: 1.5em;
  line-height: 1em; }

h5 {
  font-size: 1em;
  line-height: 1em; }

@media all and (min-width: 1024px) {
  body {
    font-size: 1.2em;
    line-height: 160%; }
  h1.jumbo {
    font-size: calc(size(10) + 10vw);
    margin-bottom: 16px; }
  h1 {
    font-size: calc(size(8) + 10vw);
    line-height: 1em; }
  h2 {
    font-size: 40px;
    line-height: 1em; }
  h3 {
    font-size: 32px;
    line-height: 1em; }
  h4 {
    font-size: 24px;
    line-height: 1em; }
  h5 {
    font-size: 16px;
    line-height: 1em; } }

header {
  padding: 10vh 16px;
  text-align: left; }
  header a {
    color: #22211E; }
  header img {
    max-width: 96px; }
  header .subtitle {
    color: #C1BFB7; }
  header.condensed {
    padding: 16px 16px 14px 16px;
    background: white;
    box-shadow: 0 4px 16px 0 rgba(96, 116, 131, 0.06); }
    header.condensed img {
      display: inline-block;
      max-width: 32px;
      margin: -8px 0 -4px 0;
      padding: 0;
      vertical-align: middle; }
    header.condensed h1 {
      display: inline-block;
      width: auto;
      font-size: 24px;
      margin: 0 0 0 8px;
      padding: 0;
      line-height: 100%; }
  @media all and (min-width: 1024px) {
    header {
      max-width: 800px;
      width: 800px;
      margin: auto; } }
  @media all and (min-width: 1024px) {
    header {
      max-width: 800px;
      width: 800px; } }

section[role="main"],
article[role="main"],
.container {
  padding: 16px;
  margin: 0 auto; }
  @media all and (min-width: 1024px) {
    section[role="main"],
    article[role="main"],
    .container {
      max-width: 800px; } }

hr {
  border: 1px solid #F8F8F8;
  margin: 32px 0; }

.article-preview {
  margin-bottom: 40px; }
  .article-preview p {
    margin-bottom: 8px; }
  .article-preview h1 {
    margin-left: -.05em;
    margin-bottom: .05em; }
  .article-preview img {
    float: right;
    margin-left: 16px; }

p.meta {
  color: #C1BFB7;
  font-size: 1em; }
  p.meta a {
    color: #C1BFB7;
    text-decoration: none; }

footer {
  background: #22211E;
  padding: 16px;
  color: #C1BFB7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  footer p {
    padding: 0;
    margin: 0; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-left: 8px; }

.author-bio {
  width: calc(100% + size(2));
  background: #F8F8F8;
  color: #22211E;
  margin: -16px -16px 0 -16px;
  padding: 8px 16px 16px 16px; }
  .author-bio h1 {
    font-size: 1.5em;
    color: #C1BFB7; }

article[role="main"] img {
  max-width: 100%; }

blockquote {
  color: #737066;
  font-style: italic;
  line-height: 150%;
  font-family: "Baskerville", "Times", serif;
  margin: 24px auto;
  width: 80%; }
  @media all and (min-width: 1024px) {
    blockquote {
      width: 90%;
      display: block;
      font-size: 1.25em; }
      blockquote.align-left {
        max-width: 50%;
        float: left; }
      blockquote.align-right {
        max-width: 50%;
        float: right; } }
  @media all and (min-width: 1280px) {
    blockquote {
      display: block;
      font-size: 1.5em; } }

@media all and (min-width: 1024px) {
  article[role="main"] img.left-align {
    float: left;
    max-width: 50%;
    margin-right: 24px;
    clear: both; }
  article[role="main"] img.right-align {
    float: right;
    max-width: 50%;
    margin-left: 24px;
    clear: both; } }

@media all and (min-width: 1280px) {
  article[role="main"] img.full-width-extended {
    max-width: 120%;
    margin-left: -10%; }
  article[role="main"] img.left-align {
    float: left;
    max-width: 50%;
    margin-right: 24px;
    clear: both;
    margin-left: -10%; }
  article[role="main"] img.right-align {
    float: right;
    max-width: 50%;
    margin-left: 24px;
    clear: both;
    margin-right: -10%; } }
